body{
background-color: #ECF0F1;
}
h3.center{
   text-align: left;
   color: #008B8B;
}
#para2{
    font-style: italic;
}

h2.myself{
     font-style: bold;
     color: #800000;
     text-align: center;
}
h3.myself {
    font-style: bold;
    color: #DAA520;
}

